[server] # Paramètres du serveur
[mysqld] # Paramètres pour le serveur MySQL
user = mysql # Utilisateur sous lequel le service MySQL s'exécute
pid-file = /run/mysqld/mysqld.pid # Chemin du fichier PID où s'exécute le service MySQL
socket = /run/mysqld/mysqld.sock # Chemin du fichier de socket où s'exécute le service MySQL
port = 3306 # Numéro de port sur lequel le service MySQL écoute
basedir = /usr # Répertoire où s'exécute le service MySQL
datadir = /var/lib/mysql # Répertoire de la base de données utilisé par le service MySQL
tmpdir = /tmp # Répertoire temporaire utilisé par le service MySQL
lc-messages-dir = /usr/share/mysql # Répertoire des fichiers de messages pour le service MySQL
query_cache_size = 16M # Taille du cache de requêtes utilisé par le service MySQL
log_error = /var/log/mysql/error.log # Chemin du fichier journal d'erreurs utilisé par le service MySQL
expire_logs_days = 10 # Nombre de jours pendant lesquels les fichiers journaux sont conservés par le service MySQL
character-set-server = utf8mb4 # Jeu de caractères utilisé par le service MySQL
collation-server = utf8mb4_general_ci # Ensemble de comparaisons utilisé par le service MySQL
bind-address=0.0.0.0
[mariadb] # Paramètres pour MariaDB
[mariadb-10.3] # Paramètres pour MariaDB 10.3